body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 2px 2px black;
    border-radius: 5px;
    background-color: white;
    opacity: 0.85;
    padding: 10px;
}
.right-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.left-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
   
}
.form-wrapper{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    
}
.title-wrapper{
    font-size: 2rem;
    font-weight: 700;
    
}
button{
    color: white;
    font-weight: 600;
    background-color: rgb(32, 148, 177);
    border-radius: 5px;
    box-shadow: 0 0 1px 2px black;
    border: none;
}
#name{
  border-color: black;
  border-radius: 5px;
}
#clear{
    display: none;
}
#male-radio,#female-radio{
    cursor: pointer;
}
#submit:hover,#save:hover{
    font-size: 0.9rem;
    background-color: rgb(27, 185, 74);
}
#clear:hover{
    font-size: 0.9rem;
    background-color: rgb(27, 185, 74);
}
@media only screen and (max-width:768px){
    .content-container{
        flex-direction: column;
    }
}




